# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Fast-API CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
  DOCKERHUB-ID: fallewi
  DOCKERHUB-REPOSITORY: fastapi
  DOCKERTAG-COMMITHASH: ${GITHUB_SHA}
  DOCKERTAG-LATEST: latest

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Test python Code
      run: | 
        pip3 install -r requirements.txt 
        cd app/
        pytest
      
  build-push-container:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: | 
        docker build -t ${DOCKERHUB-ID}/${DOCKERHUB-REPOSITORY}:${DOCKERTAG-COMMITHASH} . 
        docker tag  ${DOCKERHUB-ID}/${DOCKERHUB-REPOSITORY}:${GITHUB_SHA} ${DOCKERHUB-ID}/${DOCKERHUB-REPOSITORY}:${DOCKERTAG-LATEST}
        docker images
        docker run -d -p 80:80 --name ${DOCKERHUB-REPOSITORY} ${DOCKERHUB-ID}/${DOCKERHUB-REPOSITORY}:${DOCKERTAG-COMMITHASH}
        sleep 10
        docker login -u ${{ secrets.REGISTRY_USER  }} -p ${{ secrets.REGISTRY_PASSWD  }}
        docker push ${DOCKERHUB-ID}/${DOCKERHUB-REPOSITORY}:${DOCKERTAG-COMMITHASH}
        docker push ${DOCKERHUB-ID}/${DOCKERHUB-REPOSITORY}:${DOCKERTAG-LATEST}

  deploy:
    needs: build-push-container
    name: deploy
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOSTNAME  }}
        username: ${{ secrets.USER_NAME  }}
        key: ${{ secrets.AWS_PRIVATE_KEY  }}
        port: 22
        script: |
          sudo docker rm -f ${DOCKERHUB-REPOSITORY} 
          sudo docker rmi ${DOCKERHUB-ID}/${DOCKERHUB-REPOSITORY}:${DOCKERTAG-LATEST}
          sleep 10 
          sudo docker run -d -p 9000:80 --name ${DOCKERHUB-REPOSITORY} ${DOCKERHUB-ID}/${DOCKERHUB-REPOSITORY}:${DOCKERTAG-LATEST}
          sudo docker ps 
          sleep 10 
          curl localhost:9000
          ls 
          sudo docker images
